* {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}
body {
    background: rgb(33,3,31);
    background: linear-gradient(180deg, rgba(33,3,31,1) 0%, rgba(22,2,24,1) 53%, rgba(14,14,14,1) 100%);
    color: #FFFFFF;
    height: 100vh;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page-wrapper {
    min-height: 80%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.motd {
    font-size: 20px;
    margin-bottom: 30px;
    text-shadow: #ffcef3 0px 0px 7px;
}
.pfp {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 7px solid #FFFFFF;
    margin-bottom: 20px;
    box-shadow: 0px 0px 15px 0px #ffcef35b;
}
.name {
    font-size: 35px;
    margin-bottom: 20px;
    text-shadow: #ffcef3 0px 0px 7px;
}
.contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 10px 20px;
    border-radius: 8px;
    padding: 10px;
    border: 2px solid #FFFFFF;
    background-color: #222020;
    cursor: pointer;
    text-decoration: none;
}
.contact:hover {
    background-color: #332930;
    border: 2px solid #ffffff;
}
.icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}
.tele, .github, .discord {
    color: #ea02ff;
}
@media screen and (max-width: 550px) {
    .contact-wrapper {
      flex-direction: column;
    }
    .pfp {
        width: 300px;
        height: 300px;
    }
  }